@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.task-list {
    .task {
        .view {
            display: block;
            .options {
                float: right;
                button {
                    background: none;
                    border:none;
                    .glyphicon-ok {
                        color: green;
                    }
                    .glyphicon-remove {
                        color: darkred;
                    }
                }
            }
        }
        .edit {
            display: none;
        }
    }

    .task.editing {
        .view {
            display: none;
        }
        .edit {
            display: block;
        }
    }

    .task.completed {
        .view {
            span {
                color: lightgrey;
                text-decoration: line-through;
            }
        }
    }
}